@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body styles */
body {
  @apply font-sans text-gray-800 bg-gradient-to-br from-blue-50 via-indigo-100 to-purple-100;
}

/* Animated horizontal gradient */
@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 10s ease infinite;
}
